/* CSS de navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #7AB2D3;
    padding: 10px;
    margin: 0;
}

#logo {
    width: 100px;
    border-radius: 70%;
}

#navbar {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.nav-list {
    padding: 15px;
    background-color: #4A628A;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.nav-list:hover {
    transform: scale(1.1);

}

a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reservar {
    height: 50px;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #B9E5E8;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#reservar:hover {
    transform: scale(1.1);
}

/* CSS body */
body {
    padding: 10px;
    background-color: #DFF2EB;
}

/* CSS header */
header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4A628A;
    padding: 20px;
    text-align: justify;
}

#bienvenida {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

#img-hospital {
    width: 400px;
    border-radius: 10px;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#mis-vis {
    display: flex;
    gap: 30px;
}

.card {
    background-color: #7AB2D3;
    padding: 10px;
    border-radius: 10px;
}

/* CSS servicios */
#servicios {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4A628A;
}

#serv-med {
    display: flex;
    gap: 20px;
    text-align: justify;
}

/* CSS testimonios */
#test {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4A628A;
}

.testimonios {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

/* CSS footer */
footer {
    background-color: #7AB2D3;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}